<div class="container mt-2">
  <ng-template #errors>
    <div class="text-danger display-2 text-center">
      {{error}}
    </div>
  </ng-template>
  <div class="card border-danger" *ngIf="customers else errors">
    <div class="card-header">
        <h2 class="text-center">Customers List</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="formGroup" (ngSubmit)="searchCustomer()">
        <div class="input-group">
          <label class="input-group-text">Keyword</label>
          <input type="text" class="form-control" formControlName="keyword">
          <button class="btn btn-info"><i class="bi bi-search"></i></button>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th> <th>Name</th> <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of customers">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.age}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteCustomer(c)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let i of pageIndex" [ngClass]="page==i?'btn-danger':'btn-outline-danger'"
            class="btn ms-1" (click)="changePage(i)" )>
          {{i}}
        </li>
      </ul>
    </div>

  </div>
</div>
