<div class="container mt-2">
  <ng-template #errors>
    <div class="text-danger text-center display-2">{{exception}}</div>
  </ng-template>
  <div class="card border-danger" *ngIf="products else errors">
    <div class="card-header">
      <h2 class="text-center text-danger">Products List</h2>
    </div>
    <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th> <th>ProductName</th> <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of products">
              <td>{{p.id}}</td>
              <td>{{p.name}}</td>
              <td>{{p.price}}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteProduct(p)">
                    <i class="bi bi-trash"></i>
                </button>
              </td>

            </tr>

          </tbody>
        </table>
    </div>
  </div>
</div>
