<div class="container mt-2">
  <div class="card border-danger">
    <div class="card-header">
      <h2 class="text-center text-danger">Products List</h2>
    </div>
    <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th> <th>ProductName</th> <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of products">
              <td>{{p.id}}</td>
              <td>{{p.name}}</td>
              <td>{{p.price}}</td>

            </tr>

          </tbody>
        </table>
    </div>
  </div>
</div>
