<div class="container mt-2">
  <ng-template #errors>
    <div class="text-danger text-center display-2">{{exception}}</div>
  </ng-template>
  <div class="card border-danger" *ngIf="products else errors">
    <div class="card-header">
      <h2 class="text-center text-danger">Products List</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="formGroup" (ngSubmit)="searchProduct()">
        <div class="input-group">
          <label class="input-group-text">Keyword</label>
          <input type="text" class="form-control" formControlName="keyword">
          <button class="btn btn-info"><i class="bi bi-search"></i></button>
        </div>
      </form>
        <table class="table">
          <thead>
            <tr>
              <th>Id</th> <th>ProductName</th> <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of products">
              <td>{{p.id}}</td>
              <td>{{p.name}}</td>
              <td>{{p.price}}</td>

              <td>
                <i [ngClass]="p.promotion==true?'bi-heart-fill text-success' : 'bi-heart'" class="bi"></i>
              </td>
              <td>
                <button [ngClass]="p.promotion==true?'btn-warning':'btn-success'" class="btn" (click)="setPromotion(p)">
                  <span *ngIf="p.promotion==false">Promotion On</span>
                  <span *ngIf="p.promotion==true">Promotion Off</span>
                </button>
              </td>

              <td>
                <button class="btn btn-danger" (click)="deleteProduct(p)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>

            </tr>

          </tbody>
        </table>
    </div>
  </div>
</div>
